In [5]:

import numpy as np
a = np.fromfunction(lambda i, j : i*j, (100,50))

In [6]:
a

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [0.000e+00, 1.000e+00, 2.000e+00, ..., 4.700e+01, 4.800e+01,
        4.900e+01],
       [0.000e+00, 2.000e+00, 4.000e+00, ..., 9.400e+01, 9.600e+01,
        9.800e+01],
       ...,
       [0.000e+00, 9.700e+01, 1.940e+02, ..., 4.559e+03, 4.656e+03,
        4.753e+03],
       [0.000e+00, 9.800e+01, 1.960e+02, ..., 4.606e+03, 4.704e+03,
        4.802e+03],
       [0.000e+00, 9.900e+01, 1.980e+02, ..., 4.653e+03, 4.752e+03,
        4.851e+03]])

In [11]:
import pandas as pd
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
2,0.0,2.0,4.0,6.0,8.0,10.0,12.0,14.0,16.0,18.0,...,80.0,82.0,84.0,86.0,88.0,90.0,92.0,94.0,96.0,98.0
3,0.0,3.0,6.0,9.0,12.0,15.0,18.0,21.0,24.0,27.0,...,120.0,123.0,126.0,129.0,132.0,135.0,138.0,141.0,144.0,147.0
4,0.0,4.0,8.0,12.0,16.0,20.0,24.0,28.0,32.0,36.0,...,160.0,164.0,168.0,172.0,176.0,180.0,184.0,188.0,192.0,196.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,95.0,190.0,285.0,380.0,475.0,570.0,665.0,760.0,855.0,...,3800.0,3895.0,3990.0,4085.0,4180.0,4275.0,4370.0,4465.0,4560.0,4655.0
96,0.0,96.0,192.0,288.0,384.0,480.0,576.0,672.0,768.0,864.0,...,3840.0,3936.0,4032.0,4128.0,4224.0,4320.0,4416.0,4512.0,4608.0,4704.0
97,0.0,97.0,194.0,291.0,388.0,485.0,582.0,679.0,776.0,873.0,...,3880.0,3977.0,4074.0,4171.0,4268.0,4365.0,4462.0,4559.0,4656.0,4753.0
98,0.0,98.0,196.0,294.0,392.0,490.0,588.0,686.0,784.0,882.0,...,3920.0,4018.0,4116.0,4214.0,4312.0,4410.0,4508.0,4606.0,4704.0,4802.0
99,0.0,99.0,198.0,297.0,396.0,495.0,594.0,693.0,792.0,891.0,...,3960.0,4059.0,4158.0,4257.0,4356.0,4455.0,4554.0,4653.0,4752.0,4851.0

In [25]:
np.random.randint(1,8)

7

In [26]:
list(range(2.0,10.0))

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
np.arange(4,10.3,.2)

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2])